@model FASTrack.ViewModel.ProcessResultViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create a new FA Results</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-lg-2"> FA Code </label>
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.ProcessTypeId, new SelectList(Model.ProcessType, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProcessTypeId)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">  FA Value </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Value, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">  Description </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" name="btnSubmit" id="btnSubmit" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
@Html.Partial("_PartialPageLoading")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}