@model FASTrack.ViewModel.MSTViewModel

<style>
    .required {
        color: red;
        font-size: 15px;
        text-align: center;
        vertical-align: middle;
    }
</style>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">Name<span class="required">*</span></label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-10">
                    @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">Description</label>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-10">
                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2">
                    <input type="submit" value="Save" class="btn btn-danger btn-width-md" name="btnSubmit" id="btnSubmit" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2">
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_PartialPageLoading")


