@using PagedList.Mvc;
@model PagedList.IPagedList<FASTrack.Model.DTO.MSTFarReportDto>
@{
    AjaxOptions ajaxPaging = new AjaxOptions
    {
        UpdateTargetId = "tblReportTypes",
        HttpMethod = "GET",
    };
}
<link href="~/Content/main.css" rel="stylesheet" />
<div id="tblReportTypes">
    <table class="table table-bordered">
        <thead class="header">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Report</th>
                <th class="text-center">FAR Origin</th>
                <th class="text-center">Required??</th>
                <th class="text-center">Description</th>
                <th class="text-center">Last Updated by</th>
                <th class="text-center">Last Update</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td>@item.ReportType.Name</td>
                    <td>@item.Origin.Name</td>
                    <td class="text-center">@Html.CheckBoxFor(x => item.Required, htmlAttributes: new { @disabled="disabled"})</td>
                    <td>@item.Description</td>
                    <td>
                        @item.LastUpdatedBy
                    </td>
                    <td>@Html.DisplayFor(x => item.LastUpdate, "DisplayDateTime")</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div id="contentPager" class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("List", new { page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxPaging))
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>