@model FASTrack.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
<hr />

<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        @Html.ActionLink("My Account", "Index")
    </div>
</div>
<br />

@if (TempData["Result"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong>@TempData["Result"]
    </div>
}
@using (@Html.BeginForm())
{
    <div class="row">
        <div class="form-horizontal  col-xs-offset-1 col-xs-10">
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @Readonly = "readonly", disabled = "disabled" })
                    @Html.HiddenFor(x => x.Email)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Old Password </label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.PasswordCurrent, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PasswordCurrent)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">New Password</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NewConfirmPassword)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" type="submit" value="Save" name="btnSubmit" id="btnSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_PartialPageLoading")
@section Scripts{
}