@model FASTrack.ViewModel.RecoverPasswordViewModel
@{
    ViewBag.Title = "RecoverPassword";
}

<h2>Recover Password</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @TempData["Message"]
    </div>
}
@if (ViewBag.Success == 1)
{
    <h5>Recovery email was sent successfully!</h5>
}
else
{
    using (Html.BeginForm())
    {
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Email)
                    <span style="color:red;">@TempData["Message"]</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" name="btnSubmit" id="btnSubmit">Recover</button>
                </div>
            </div>
        </div>
    }
}
@Html.Partial("_PartialPageLoading")
@section Scripts{
}