@model IEnumerable<FASTrack.Model.DTO.FARDeviceDetailsDto>
@{
    ViewBag.Title = "Add Samples List";
}

<h2>Device/Samples List for FA#@ViewBag.MasterNumber</h2>
<br />
<div class="row">
    <p>
        @if (ViewBag.AddLot == 1)
        {
            @Html.ActionLink("Add Samples", "AddSample", new { id = ViewBag.MasterId }, htmlAttributes: new { @class = "btn btn-link" })
            @:|
    }
        @Html.ActionLink("FA Detail", "ReEditFA", new { id = ViewBag.MasterId }, htmlAttributes: new { @class = "btn btn-link" })
    </p>
</div>

<style>
    table > tbody > tr:hover {
        background-color: #f3f0b6;
    }

    table > thead > tr {
        background-color: #f2e9e9;
    }

        table > thead > tr > th {
            vertical-align: middle !important;
        }

    .only-view {
        pointer-events: none;
        cursor: default;
        color: #ddd;
    }
</style>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Serial No </th>
                <th class="text-center">Sample/Wafer No. </th>
                <th class="text-center">Lot No. </th>
                <th class="text-center">Mfg Part No.</th>
                <th class="text-center">Technology</th>
                <th class="text-center">Package Type</th>
                <th class="text-center">Assembly Site</th>
                <th class="text-center">Fab Site</th>
                <th class="text-center">Date Code</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">NPI Stage</th>
                <th class="text-center">FAILURE MECHANISM</th>
                <th class="text-center">Process Flow</th>
                @if (ViewBag.AddLot == 1)
                {
                    <th></th>
                }
            </tr>
        </thead>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.SerialNo</td>
                    <td>@item.WaferNo</td>
                    <td>@item.LotNo</td>
                    <td>@item.MfgPartNo</td>
                    <td>@item.Technogoly.Name</td>
                    <td>@item.PackageType.Name</td>
                    <td>@item.AssemblySites.Name</td>
                    <td>@item.FabSite.Name</td>
                    <td>@item.DateCode</td>
                    <td>@item.Quantity</td>
                    <td>
                        @if (item.Stage)
                        {
                            @("Y");
                        }
                        else
                        {
                            @("N");
                        }
                    </td>
                    <td class="text-center"><a href="#" onclick="failureMechanism(@item.Id)">Findings</a></td>
                    @*<td class="text-center">Findings</td>*@
                    <td>@Html.ActionLink(item.FARServices.Name, "ProcessList", new { id = item.Id })</td>
                    @if (ViewBag.AddLot == 1)
                    {
                        <td class="text-nowrap">
                            @Html.ActionLink("Edit", "EditSample", new { id = item.Id })
                            |
                            @Html.ActionLink("Delete", "DeleteSample", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr><td colspan="14">No rows found.</td></tr>
        }
    </table>
</div>

<div id="popupContainer"></div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            failureMechanism = function (id) {
                var url = '@Url.Action("ViewAll","FARMechanism")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: { id: id },
                    success: function (returnHtml) {
                        $('#popupContainer').empty();
                        $('#popupContainer').html(returnHtml);
                        $('#popupFinding').modal({ show: true, backdrop: false });
                    },
                    error: function (xhr) { },
                    alway: function () { }
                });
            }
        });
    </script>
}